h1 {
    text-align: center;
}
#level{
    background-color: aqua;
    font-size: x-large;
    width: 50%;
}
.banner {
    height: 480px;
    width: 100%;
    object-fit: cover;
    
}
#navbar {
    height: 150px;
}

.team {
    
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    margin: 2px;
    border-radius: 2%;
}
#about {
    display: flex;

}
.apply {
    float: right;
    font-size: larger;
    margin-right: 40px;
}


